<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/password.css">
</head>
<body>
    <div id="request">
        <form action="{{ url }}" method="POST">
            <label for="Search Image">Search Image</label><br>
            <input type="text" id="query" name="query" value=""><br><br>
            <input type="submit" value="submit"/>
        </form>
    </div>

    <div id="gif">
        {% for giphy in sackboy %}
            <img src="{{ giphy }}" width="200px"/>
        {% endfor %}
    </div> 
</body>
</html>